.header-background{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 990;
}

.page-header {
  position: sticky;
  z-index: 1000;
  top: 0;
  transition: background-color 0.3s;
  background-color: #161A26;
  height: 85px;

  :global {
    .ant-page-header-heading-sub-title,
    .ant-page-header-heading-left{
      overflow: visible;
    }
  }

  &__menu-icon{
    display: none;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    svg {
      width: 100%;
      height: 100%;
      fill: #fff;
    }
  }

  &__logo{
    width: 114px;
    height: 46px;
    margin-right: 28px;

    @media screen and (max-width: 1024px) {
      margin-right: 0;
      width: 100px;
      height: 40px;
    }
  }

  &__search-input{
    width: 260px;
    height: 48px;
  }

  &__avatar{
    cursor: pointer;
    margin-left: 12px;
  }
}



@media screen and (max-width: 1024px) {
  .page-header {
    &__menu-icon{
      display: block;
    }
  }
  .mobile-hidden{
    display: none;
  }

}
