.results-container{
  width: 100%;
  height: 100%;
  position: relative;

  .empty-block{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &__description{
      color: white;
    }
  }
}
